/* ========== START Dark Mode Colors ========== */

:root {
  --primary: #0f1111;
  --secondary: #7d7467;
  --text: #d8d4cf;
  --blue: #003e88;
  --caption: #e8e6e3;
}

/* ========== END Dark Mode Colors ========== */

/* ========== START CSS Reset ========== */

html {
  box-sizing: border-box;
  font-size: 16px;
  color-scheme: dark !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========== END CSS Reset ========== */

body {
  background-color: var(--primary);
  color: var(--text);
  padding: 16px;
}

h1 {
  text-align: center;
  font-size: 64px;
}

p {
  text-align: center;
  margin-bottom: 32px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--secondary);
  text-align: center;
  padding: 16px;
  font-size: 32px;
}

audio {
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: var(--blue);
}

/* audio::-webkit-media-controls-mute-button {
  background-color: #56AEFF;
  border-radius: 50%;
} */

audio::-webkit-media-controls-play-button {
    background-color: var(--blue);
    border-radius: 50%;
}

/* audio::-webkit-media-controls-current-time-display {
  color: var(--text);
} */

/* audio::-webkit-media-controls-time-remaining-display {
    color: var(--text);
} */

/* audio::-webkit-media-controls-timeline {
  background-color: #56AEFF;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
} */

.mp3 {
  width: 65%;
}



video {
  display: block;
  width: 80%;
  margin: auto;
}

@media (max-width: 400px) {
  h1 {
    font-size: 36px;
  }
  td {
    font-size: 18px;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  td {
    flex-basis: 100%;
  }
}
